<div class="calendar">
<div class="calendar_header">
  <img id="previous_month" (click)="getPreviousMonth()" src="/assets/images/previous_btn.svg" width="25"> {{getMonth()}}, {{getYear()}}
  <img id="next_month" (click)="getNextMonth()" src="/assets/images/next_btn.svg" width="25">
</div>
<table class="calendar_table">
  <tr class="calendar_table_header">
    <th>Su</th>
    <th>Mo</th>
    <th>Tu</th>
    <th>We</th>
    <th>Th</th>
    <th>Fr</th>
    <th>Sa</th>
  </tr>
  <tbody class="calendar_body">
  <tr class="week" *ngFor="let row of monthDays">
    <td *ngFor="let cell of row"><button class="day" (click)="selectDay($event)">{{cell}}</button></td>
  </tr>
  </tbody>
</table>
</div>
