.visit_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.visit_grid>*{
  padding: 20px 30px;
}
.form_wrapper{
  display: flex;
  justify-content: flex-start;
}
.calendar_wrapper{
  display: flex;
  justify-content: flex-end;
}

.hours_wrapper, .history_wrapper{
  grid-column: 1 / 3;
}

.visit_btns{
  display: flex;
  justify-content: flex-end;
}
.cancel_visit_btn, .create_visit_btn{
  border-radius: 10px;
  font-size: 18px;
  padding: 7px 20px;
  margin-left: 10px;
}
.cancel_visit_btn{
  border: 1px solid #000;
  background-color: #fff;
}
.create_visit_btn{
  background-color: #808080;
  color: #fff;
  border: 1px solid #808080;
}
