.visit_form{
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.visit_form button{
  background-color: #f8f8f8;
  padding: 7px 20px;
  border: 1px solid #404040;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #404040;
  margin-bottom: 10px;
}
.visit_form{
  padding: 10px 0;
}
.visit_form select{
  padding: 5px 30px;
}
.visit_form label{
  padding: 5px 10px 5px 0;
  font-size: 16px;
}
.input_group{
  display: flex;
  padding: 5px 0;
}

.visit_form select{
  border: 1px solid #808080;
  border-radius: 10px;
  outline: none;
}

.error{
  color: red;
  padding: 0 0 10px 0;
}
