<div class="hours_container">
  <div class="hours_title">
    <img src="./assets/images/clock.svg" width="18"> Hours
  </div>
  <div class="hours_wrapper">
    <div class="hour" (click)="selectHour($event, 9)">9:00</div>
    <div class="hour" (click)="selectHour($event, 10)">10:00</div>
    <div class="hour" (click)="selectHour($event, 11)">11:00</div>
    <div class="hour" (click)="selectHour($event, 12)">12:00</div>
    <div class="hour" (click)="selectHour($event, 13)">13:00</div>
    <div class="hour" (click)="selectHour($event, 14)">14:00</div>
    <div class="hour" (click)="selectHour($event, 15)">15:00</div>
    <div class="hour" (click)="selectHour($event, 16)">16:00</div>
    <div class="hour" (click)="selectHour($event, 17)">17:00</div>
  </div>
</div>
