<div class="visit_form">
  <!--<button>Choose an existing patient</button>-->
  <form>
    <div class="input_group">
      <label>Patient Name</label>
      <input type="text" name="name" [(ngModel)]="newPatientName" (change)="sendPatientNameToParent()">
    </div>
    <div class="input_group">
      <label>Patient Breed</label>
      <input type="text" name="name" [(ngModel)]="newPatientBreed" (change)="sendPatientBreedToParent()">
    </div>
    <div class="input_group">
      <label>Doctor Name</label>
      <select name="existingDoctor" [(ngModel)]="existingDoctorName" (change)="updateDoctor()" required>
        <option value="" disabled selected>Doctor Name</option>
        <option *ngFor="let doctor of doctors" value="{{doctor.name}}">{{doctor.name}}</option>
      </select>
    </div>
  </form>
</div>
