.appointments_header{
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #f1f1f1;
  padding: 15px 10px;
}
.daily_header_item{
  color: #545454;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.appointments_body .line{
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1fr;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 500;
  color: #404040;
}
.hour{
  font-weight: 600;
  color: #202020;
}
.doctor{
  color: #5F6673;
}
.no_content_container{
  padding: 15px 10px;
  text-align: center;
  font-weight: 500;
}
