<div class="page_container">
  <app-date></app-date>
  <div class="statistics_wrapper">
    <div id="evolution_by_year" class="section_container">
      <div class="chart_title">Evolution By Year</div>
      <div class="chart_wrapper">
        <canvas id="year_chart">
        </canvas>
      </div>
    </div>

    <div id="evolution_by_patients" class="section_container">
      <div class="chart_title">Frequency By Patient</div>
      <div class="chart_wrapper">
        <canvas id="patients_chart">
        </canvas>
      </div>
    </div>

    <div id="evolution_by_status" class="section_container">
      <div class="chart_title">Done vs In Progress</div>
      <div class="chart_wrapper">
        <canvas id="status_chart">
        </canvas>
      </div>
    </div>
  </div>

</div>
